@{
    Viewer.Config.ViewerConfig config = new Viewer.Config.ViewerConfig();
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Viewer for .NET MVC</title>
        <link type="text/css" rel="stylesheet" href="~/resources/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="~/resources/css/viewer.css" />
        <link type="text/css" rel="stylesheet" href="~/resources/css/viewer.mobile.css" />
        <link type="text/css" rel="stylesheet" href="~/resources/css/viewer-dark.css" />
        <link type="text/css" rel="stylesheet" href="~/resources/css/viewer-circle-progress.css" />
        <link rel="stylesheet" href="~/resources/css/swiper.min.css">
        <script src="~/resources/js/jquery.min.js"></script>
        <script src="~/resources/js/swiper.min.js"></script>
        <script type="text/javascript" src="~/resources/js/viewer.js"></script>
    </head>
    <body>
        <div id="element"></div>
        <script type="text/javascript">
            $('#element').viewer({
                applicationPath: 'http://@config.getServer().getHostAddress():@config.getServer().getHttpPort()/viewer',
                offlineMode: @config.getResources().isOfflineMode().ToString().ToLowerInvariant(),
                defaultDocument: '@config.getResources().getDefaultDocument()',
                htmlMode:  @config.getResources().isHtmlMode().ToString().ToLowerInvariant(),
                preloadPageCount: @config.getResources().getPreloadPageCount(),
                zoom : @config.getResources().isZoom().ToString().ToLowerInvariant(),
                pageSelector: @config.getResources().isPageSelector().ToString().ToLowerInvariant(),
                search: @config.getResources().isSearch().ToString().ToLowerInvariant(),
                thumbnails: @config.getResources().isThumbnails().ToString().ToLowerInvariant(),
                rotate: @config.getResources().isRotate().ToString().ToLowerInvariant(),
                download: @config.getResources().isDownload().ToString().ToLowerInvariant(),
                upload: @config.getResources().isUpload().ToString().ToLowerInvariant(),
                print: @config.getResources().isPrint().ToString().ToLowerInvariant(),
                browse: @config.getResources().isBrowse().ToString().ToLowerInvariant(),
                rewrite: @config.getResources().isRewrite().ToString().ToLowerInvariant()
                });
        </script>
    </body>
</html>